* text=auto !eol
/AUTHORS -text
/COPYING -text
/English_to_Polish.txt -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/alt.xsl -text
/apertium-en-pl.en-pl.dix -text
/apertium-en-pl.en-pl.t1x -text
/apertium-en-pl.en-pl.t2x -text
/apertium-en-pl.en-pl.t3x -text
/apertium-en-pl.en.metadix -text
/apertium-en-pl.pl-en.t1x -text
/apertium-en-pl.pl-en.t2x -text
/apertium-en-pl.pl-en.t3x -text
/apertium-en-pl.pl.dix.xml -text
/apertium-en-pl.pl.pardefs.xml -text
/apertium-en-pl.post-en.dix -text
/apertium-en-pl.post-pl.dix -text
/apertium-en-pl.symbols.xml -text
/autogen.sh -text
/configure.ac -text
/en-pl.prob -text svneol=unset#unset
/endix-latin-french.xml -text
enpl-dic/apertium-en-pl.en-pl.dix.xml -text
enpl-dic/enpl-acja-inferred.xml -text
enpl-dic/enpl-adjectives.xml -text
enpl-dic/enpl-adverbs.xml -text
enpl-dic/enpl-bible.xml -text
enpl-dic/enpl-catholic.xml -text
enpl-dic/enpl-children.xml -text
enpl-dic/enpl-family.xml -text
enpl-dic/enpl-fictional.xml -text
enpl-dic/enpl-idioms.xml -text
enpl-dic/enpl-incubator.xml -text
enpl-dic/enpl-latinfrench.xml -text
enpl-dic/enpl-medical.xml -text
enpl-dic/enpl-mw-adverbs.xml -text
enpl-dic/enpl-mw-nouns.xml -text
enpl-dic/enpl-named-entities.xml -text
enpl-dic/enpl-names.xml -text
enpl-dic/enpl-nouns.xml -text
enpl-dic/enpl-numbers.xml -text
enpl-dic/enpl-organisations.xml -text
enpl-dic/enpl-proverbs.xml -text
enpl-dic/enpl-surnames.xml -text
enpl-dic/enpl-top-adj.xml -text
enpl-dic/enpl-verbs.xml -text
enpl-dic/enpl-vulgar.xml -text
/euro-terms.txt -text
/ispell-to-pardefs.txt -text
/literary-characters.txt -text
misc/freq-sample.xml -text
misc/freq.sed -text
misc/gfjp-aprzyk.txt -text
misc/imie.extract -text
misc/nouns.extract -text
misc/s_czas -text
/modes.xml -text
/pl-en.prob -text svneol=unset#unset
pldic/in-progress/tur-m2.xml.in -text
pldic/in-progress/tur-m3.xml.in -text
pldic/pl-metapardefs-f.xml -text
pldic/pl-metapardefs-ma.xml -text
pldic/pl-metapardefs-mi.xml -text
pldic/pl-metapardefs-nt.xml -text
pldic/pl-pardef-adj-participles.xml -text
pldic/pl-pardef-null-adj.xml -text
pldic/pl-pardefs-adj-comp.xml -text
pldic/pl-pardefs-adj.xml -text
pldic/pl-pardefs-adv-sint.xml -text
pldic/pl-pardefs-deriv.xml -text
pldic/pl-pardefs-determiners.xml -text
pldic/pl-pardefs-gerunds.xml -text
pldic/pl-pardefs-itg.xml -text
pldic/pl-pardefs-misc.xml -text
pldic/pl-pardefs-mw-np-org.xml -text
pldic/pl-pardefs-n-dimin.xml -text
pldic/pl-pardefs-n-f.xml -text
pldic/pl-pardefs-n-m1.xml -text
pldic/pl-pardefs-n-m2.xml -text
pldic/pl-pardefs-n-m3.xml -text
pldic/pl-pardefs-n-nt-pl.xml -text
pldic/pl-pardefs-n-nt.xml -text
pldic/pl-pardefs-np-al.xml -text
pldic/pl-pardefs-np-ant-m.xml -text
pldic/pl-pardefs-np-cog.xml -text
pldic/pl-pardefs-np-dimin.xml -text
pldic/pl-pardefs-np-hyd.xml -text
pldic/pl-pardefs-np-org.xml -text
pldic/pl-pardefs-np-top.xml -text
pldic/pl-pardefs-orth-german.xml -text
pldic/pl-pardefs-pronouns.xml -text
pldic/pl-pardefs-punct-etc.xml -text
pldic/pl-pardefs-regexen.xml -text
pldic/pl-pardefs-rel.xml -text
pldic/pl-pardefs-vaux.xml -text
pldic/pl-pardefs-vbhaver.xml -text
pldic/pl-pardefs-vblex-imperf.xml -text
pldic/pl-pardefs-vblex-irreg-perf.xml -text
pldic/pl-pardefs-vblex-irreg.xml -text
pldic/pl-pardefs-vblex-perf.xml -text
pldic/pl-pardefs-vbser-enc.xml -text
pldic/pl-pardefs-vbser.xml -text
pldic/pl-pardefs.xml -text
pldic/pldix-adj-comp-ciemniejszy.xml -text
pldic/pldix-adj-comp-nowszy.xml -text
pldic/pldix-adj-comp-other.xml -text
pldic/pldix-contractions.xml -text
pldic/pldix-f-abdykacja.xml -text
pldic/pldix-f-matka.xml -text
pldic/pldix-f-milosc.xml -text
pldic/pldix-f-oda.xml -text
pldic/pldix-f-pasta.xml -text
pldic/pldix-f-rzeka.xml -text
pldic/pldix-f-woda.xml -text
pldic/pldix-irish-surnames.xml -text
pldic/pldix-latin-french.xml -text
pldic/pldix-ma-tur.xml -text
pldic/pldix-meta-f.xml -text
pldic/pldix-meta-ma.xml -text
pldic/pldix-meta-mi.xml -text
pldic/pldix-meta-nt.xml -text
pldic/pldix-mi-dach.xml -text
pldic/pldix-mi-hotel.xml -text
pldic/pldix-mi-irreg.xml -text
pldic/pldix-mi-ser.xml -text
pldic/pldix-mi-sklep.xml -text
pldic/pldix-mod-aux.xml -text
pldic/pldix-mp-afrykanin.xml -text
pldic/pldix-mp-irreg.xml -text
pldic/pldix-mp-polak.xml -text
pldic/pldix-mp-szejk.xml -text
pldic/pldix-np-al-mw-lex.xml -text
pldic/pldix-np-al-oscar.xml -text
pldic/pldix-np-ant-mw-lex.xml -text
pldic/pldix-np-hyd-mw-lex.xml -text
pldic/pldix-np-org-mw-lex.xml -text
pldic/pldix-np-top-mw-lex.xml -text
pldic/pldix-nt-muzeum.xml -text
pldic/pldix-nt-piwo.xml -text
pldic/pldix-nt-udo.xml -text
pldic/pldix-nt-zrodlo.xml -text
pldic/pldix-surnames.xml -text
pldic/pldix-vblex-czytac.xml -text
pldic/pldix-vblex-irreg.xml -text
pldic/pldix-vblex-malowac.xml -text
pldic/pldix-vblex-obronic.xml -text
pldic/pldix-vblex-obudzic.xml -text
pldic/pldix-vblex-palic.xml -text
pldic/pldix-vblex-pobogacic.xml -text
pldic/pldix-vblex-przeczytac.xml -text
pldic/pldix-vblex-umalowac.xml -text
pldic/pldix-vblex-wierzyc.xml -text
pldic/pldix-vblex-zamowic.xml -text
pldic/pldix-vblex-zaprosic.xml -text
pldic/pldix-vblex-zrobic.xml -text
pldic/url-pardefs.xml -text
/pldix-bible.xml -text
/pldix-itj-vulgar.xml -text
/pldix-itj.xml -text
/pldix-mw_adv.xml -text
/pldix-mw_noun.xml -text
/pldix-names.xml -text
/pldix-othernames.xml -text
/pldix-places.xml -text
/pldix-surnames.xml -text
