/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/en-pl.autobil.bin
/en-pl.autogen.bin
/en-pl.automorf.bin
/en-pl.autopgen.bin
/en-pl.mode
/en-pl.t1x.bin
/en-pl.t2x.bin
/en-pl.t3x.bin
/install-sh
/missing
/modes
/pl-en.autobil.bin
/pl-en.autogen.bin
/pl-en.automorf.bin
/pl-en.autopgen.bin
/pl-en.mode
/pl-en.t2x.bin
/pl-en.t3x.bin
/stamp-h1
